
<div class="row mt-4 text-center">
    <div class="col-md-12">
        <h1>Coffee Shop / Restaurant etc</h1>
    </div>
</div>
<div class="row text-center mt-1">
    <div class="col-md-3">

        <qr-code [value]="'http://192.168.1.182:4200/table/1'"></qr-code>
        <h4>Table 1</h4>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4">

        <qr-code [value]="'http://192.168.1.182:4200/table/2'"></qr-code>
        <h4>Table 2</h4>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3">

        <qr-code [value]="'http://192.168.1.182:4200/table/3'"></qr-code>
        <h4>Table 3</h4>
    </div>
    <div class="col-md-1"></div>
</div>

<br>

<div class="row mt-5 text-center">
    <div class="col-md-12">
        <h1>Contact Card</h1>
    </div>
</div>
<div class="row mt-1">
    <div class="col-md-12 text-center">
        <qr-code [value]="'http://192.168.1.182:4200/card'"></qr-code>
        <h4>Get the Contact Card PDF</h4>

    </div>
</div>


<div class="row text-center">
    <div class="col-md-12 text-center">
        <button class="btn btn-primary" (click)="createShareButton()">{{btnLabel}}</button>
    </div>
</div>